<html>

<head>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/home.css">

    <title>
        BigMart
    </title>

<body>
    
    
        <nav class="navbar sticky-top navbar-light bg-light navbar-expand-lg" >
            <div class="container-fluid" id = 'nav'>
                <a class="navbar-brand">
                    
                    <form action="/admin_logged_in" method="POST">
                        
                        <input type="hidden" name="category" value="" />
                        <input type="hidden" name="user_info" value=<%=JSON.stringify(user) %> />
                        <button class="btn btn-info bg-dark" type="submit">
                            <h1>BigMart</h1>
                        </button>
                    </form>
                    
                </a>

                <form class="d-flex" action="/search" method="POST">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="tag">
                    <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item pr-4">
                       
                            <form action="/admin_subscription" method="POST">
                                <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                                <a class="nav-link active" href="#">
                                    <button type="submit">
                                        Subscription
                                    </button>
                                </a>
                            </form>
                       
                    </li>

                    <li class="nav-item pr-4">
                       
                        <form action="/approval_order" method="POST">
                            <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                            <a class="nav-link active" href="#">
                                <button type="submit">
                                    Approval List
                                </button>
                            </a>
                        </form>
                   
                    </li>
                    <li class="nav-item pr-4">
                       
                            <form action="/list_order" method="POST">
                                <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                                <a class="nav-link active" href="#">
                                    <button type="submit">
                                        Orders
                                    </button>
                                </a>
                            </form>
                       
                    </li>

                   
                    <li class="nav-item pr-4">
                        <form action="/admin_profile" method="POST">
                            <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                            <a class="nav-link active" href="#">
                                <button type="submit">
                                    Profile
                                </button>
                            </a>
                        </form>
                    
                    </li>
                    <li class="nav-item">
                        <form action="/logout" method="POST">
                            <a class="nav-link active" href="#">
                                <button type="submit">
                                    Log out
                                </button>
                            </a>
                        </form>
                    </li>
                </ul>
                
            </div>
          
        </nav>


    </div>

    <div class="Sections">

        <div class="Categories ml-5">

            <h1 class="display-4">Categories</h1>
            
        
            
            <div class="row row-cols-md-3 g-4 ml-10 mt-10 " ">
          
                    <% for(var i=0; i < value.length;i++) {%>
                        
                            <div class="col-3 mb-5" >

                                
                                <form action="/admin_products" method="POST">

                                    <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                                
                                    <div class="card"  name = 'category' style="width: 15rem;" >
                                        
                                        
                                            <div class="d-flex justify-content-center">

                                                <button class = "btn" type="submit">
                                                
                                                    <img src="/img/<%= value[i].IMAGE_SRC %>"  class="rounded mx-auto d-block" alt="..." max>

                                                        <div class="card-body">
                                                            
                                                            <input type='hidden' name='category' value= <%= value[i].CATEGORY %> />
                                                                <h5 class="card-title" , name="title" value="haha1"><%= value[i].CATEGORY %></h5>
                                                                <!--<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                                                <p class="card-text"><small class="text-muted">Price: <%= value[i].PRICE %></small></p> -->
                                                        </div> 

                                                </button>

                                            </div>
                                        
                                    </div>

                                </form>
                                <form action="/edit_category_picture" method="POST">
                                    <input type='hidden' name='category' value= <%= value[i].CATEGORY %> />
                                    <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />

                                    <div>
                                        
                                        <button class="btn btn-success mt-3" type="submit" name='butt' value='1'>Edit Picture</button>
                                    </div>
                                </form>
                            </div>
                        
                    <%} %>
                    
            </div>

           
          
        </div>
    </div>

   
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
    </script>

    <script >

       
    </script>
</body>


</head>

</html>