<html>

<head>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/home.css">

    <title>
        BigMart
    </title>

<body>
    
    
        <nav class="navbar sticky-top navbar-light bg-light navbar-expand-lg" >
            <div class="container-fluid" id = 'nav'>
                <a class="navbar-brand">
                    
                    <form action="/admin_logged_in" method="POST">
                        
                        <input type="hidden" name="category" value="" />
                        <input type="hidden" name="user_info" value=<%=JSON.stringify(user) %> />
                        <button class="btn btn-info bg-dark" type="submit">
                            <h1>BigMart</h1>
                        </button>
                    </form>
                    
                </a>

                <form class="d-flex" action="/admin_seller_search" method="POST">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="tag">
                    <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item pr-4">
                       
                            <form action="/admin_seller_view" method="POST">
                                <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                                <a class="nav-link active" href="#">
                                    <button type="submit">
                                        Sellers
                                    </button>
                                </a>
                            </form>
                       
                    </li>
                    <li class="nav-item pr-4">
                       
                            <form action="/admin_complain" method="POST">
                                <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                                <a class="nav-link active" href="#">
                                    <button type="submit">
                                        Complain
                                    </button>
                                </a>
                            </form>
                       
                    </li>
                    <li class="nav-item pr-4">
                       
                            <form action="/admin_subscription" method="POST">
                                <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                                <a class="nav-link active" href="#">
                                    <button type="submit">
                                        Subscription
                                    </button>
                                </a>
                            </form>
                       
                    </li>

                    <li class="nav-item pr-4">
                       
                        <form action="/approval_order" method="POST">
                            <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                            <a class="nav-link active" href="#">
                                <button type="submit">
                                    Approval List
                                </button>
                            </a>
                        </form>
                   
                    </li>
                    <li class="nav-item pr-4">
                        <form action="/admin_profile" method="POST">
                            <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                            <a class="nav-link active" href="#">
                                <button type="submit">
                                    Profile
                                </button>
                            </a>
                        </form>
                    
                    </li>
                    
                    <li class="nav-item">
                        <form action="/logout" method="POST">
                            <a class="nav-link active" href="#">
                                <button type="submit">
                                    Log out
                                </button>
                            </a>
                        </form>
                    </li>
                </ul>
                
            </div>
          
        </nav>

        <h1>Total Seller : <%= sellerList.length %> </h1>

        <div class="card-deck">
                
                <% for(var i=0; i < sellerList.length;i++) {%>
                    
                    <div class=" col-4 mb-5">

                            <form action="/admin_category_buyer" method="POST">
                                <div class="card mt-5">
                                    
                                    <button class="btn" type="submit">

                                        <div class="card-body mt-10">
                                        
                                       

                                            <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                                            <input type="hidden" name="seller_id" value=<%= sellerList[i].SELLER_ID %> >

                                           
                                            
                                            

                                                <h5 class="card-title">Name: <%=sellerList[i].NAME %></h5>

                                                <p>Email: <%=sellerList[i].EMAIL %></p>
                                                <p>Total Products: <%= sellerList[i].totalProducts %> </p>
                                                <p>Total Complains: <%= sellerList[i].COMPLAIN_COUNT %> </p>

                                                <% if(sellerList[i].RATING == 0){ %>
                                                    <p>Avg Rating: No rating found</p>
                                                    <% } else{ %>  
                                                    <p>Avg Rating: <%= sellerList[i].RATING %> </p>
                                                <% } %>
                                                <p>Total Sold Products: <%= sellerList[i].TOTAL_SOLD %> </p>

                                                

                                            
                                            
                                     
                                    </div>
                                    </button>

                                
                                </div>
                            </form>
                       
                    </div>
                <%} %>
    </div>

   
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
    </script>

    <script >

       
    </script>
</body>


</head>

</html>