<html>

<head>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/home.css">
   <link rel="stylesheet" href="css/log_in_styles.css">
    <title>
        BigMart
    </title>

<body>
    
    
        <nav class="navbar sticky-top navbar-light bg-light navbar-expand-lg" >
            <div class="container-fluid" id = 'nav'>
                <a class="navbar-brand">
                    
                    <form action="/admin_logged_in" method="POST">
                        
                        <input type="hidden" name="category" value="" />
                        <input type="hidden" name="user_info" value=<%=JSON.stringify(user) %> />
                        <button class="btn btn-info bg-dark" type="submit">
                            <h1>BigMart</h1>
                        </button>
                    </form>
                    
                </a>

                <form class="d-flex" action="/search" method="POST">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="tag">
                    <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item pr-4">
                       
                            <form action="/admin_subscription" method="POST">
                                <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                                <a class="nav-link active" href="#">
                                    <button type="submit">
                                        Subscription
                                    </button>
                                </a>
                            </form>
                       
                    </li>
                    <li class="nav-item pr-4">
                       
                            <form action="/list_order" method="POST">
                                <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                                <a class="nav-link active" href="#">
                                    <button type="submit">
                                        Orders
                                    </button>
                                </a>
                            </form>
                       
                    </li>

                   
                    <li class="nav-item pr-4">
                        <form action="/profile" method="POST">
                            <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                            <a class="nav-link active" href="#">
                                <button type="submit">
                                    Profile
                                </button>
                            </a>
                        </form>
                    
                    </li>
                    <li class="nav-item">
                        <form action="/logout" method="POST">
                            <a class="nav-link active" href="#">
                                <button type="submit">
                                    Log out
                                </button>
                            </a>
                        </form>
                    </li>
                </ul>
                
            </div>
          
        </nav>


    </div>

    <div class="Sections">

        <div class="Categories ml-5">

            <h1 class="display-4">Bundles</h1>
            
        
            
            <div class="row row-cols-md-3 g-4 ml-10 mt-10 " ">
          
                    <% for(var i=0; i < value.length && value[i].BUNDLE_ID != null ;i++) {%>
                        
                            <div class="col-3 mb-5" >

                                
                                <form action="/view_bundle_item" method="POST">

                                    <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                                    <input type="hidden" name='bundle_id' value=<%= value[i].BUNDLE_ID %> />
                                
                                    <div class="card"  name = 'category' style="width: 15rem" >
                                        
                                        
                                            <div class="d-flex justify-content-center">

                                                <button class = "btn" type="submit">

                                                    <img src="/img/product_default.png"  class="rounded mx-auto d-block" alt="...">

                                                        <div class="card-body">
                                                            

                                                            <input type='hidden' name='subscription_id' value= <%= subscription_id %> />

                                                                <h5 class="card-title font-weight-bold" , name="title" value="haha1">Bundle No : <%= i + 1 %></h5>

                                                                <p class="card-text font-weight-bold"> Total Products: <%= value[i].PRODUCT_COUNT %> </p>
                                                                <!--<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                                                <p class="card-text"><small class="text-muted">Price: <%= value[i].PRICE %></small></p> -->
                                                        </div> 

                                                </button>

                                            </div>
                                        
                                    </div>

                                </form>

                            </div>
                        
                    <%} %>
                    
            </div>

           
          
        </div>
    </div>

    
    <div>
           
        <form action="/add_new_bundle" method="POST">
                <div class="d-flex justify-content-center">
                    <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                    <input type="hidden" name='subscription_id' value=<%=subscription_id %> />


                    <button type="submit" class="btn btn-primary btn-lg mb-5" name='butt' value='2'>ADD BUNDLE</button>
                
                </div>
        </form>

        <form action="/delete_plan" method="POST">
                <div class="d-flex justify-content-center">
                    <input type="hidden" name='user_info' value=<%=JSON.stringify(user) %> />
                    <input type="hidden" name='subscription_id' value=<%=subscription_id %> />


                    <button type="submit" class="btn btn-primary btn-lg mb-5" name='butt' value='2'>Delete Plan</button>
                </div>
        </form>
           
        
    </div>

</body>


</head>

</html>